<section class="sort">
    <h2>Sorter</h2>
    <button class="btn default" id="due">Sort by due</button>
    <button class="btn default" id="created">Sort by created</button>
    <button class="btn default" id="prio">Sort by priority</button>
    <button class="btn default" id="finish">Show finished</button>
</section>
<main id="containerTasks">

    <script id="task-list-template" type="text/x-handlebars-template">
            {{#each tasks}}
                    <li class="liItem">
                    <div>
                        <label for="checkBox"><input id="checkBox" type="checkbox">
                            <span class="date">{{date}}</span>
                            <span class="name">{{name}}</span>
                            <span class="description">{{description}}</span>
                            <a href="/edit/{{id}}"class="btn info">Edit</a></label>
                            <a href="/delete/{{id}}"class="btn danger">Delete</a></label>

                    </div>
                </li>
            {{/each}}
</script>

</main>
